body {
    margin: 0;
    padding: 0;
    font-family: 'ABeeZee';
    font-size: 22px;
    background-color: #5A5050;
    background: url(../Images/b3.png);
}


.productpanel {
    width: 302px;
    padding: 0;
    margin: 5px;
}

.productimage {
    height: 250px;
    overflow: hidden;
}

.productimage img {
    width: 302px;
    height: 252px;
    border-radius: 4px;
}

.productdescription {
    height: 100px;
}

    .productdescription span {
        font-weight: bold;
        font-size: 12pt;
        text-align: center;
        width: 100%;
        display: block;
        margin-top:5px;
        margin-bottom: 5px;
    }

    .productdescription p {
        font-size: 10pt;
        text-align: justify;
        padding-left: 5px;
        padding-right: 5px;
    }

.productshopbutton {
    text-align: center;
    margin-bottom:5px;
}

.producttable{
    table-layout:fixed; 
    width:100%;
}
.producttable td{
    padding:5px;
}